<div id="<%= dom_id turma %>">
  <p>
    <strong>Code:</strong>
    <%= turma.code %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= turma.number %>
  </p>

  <p>
    <strong>Semester:</strong>
    <%= turma.semester %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= turma.time %>
  </p>

</div>
